:root {
	--font-primary: #fff;
	--font-secundary: #393c41;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	color: #fff;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}
